
@{
    ViewBag.Title = "Car Insurance Quote";
}

<div class="container">
    <div class="row no-gutters m-3">
        <div class="glyphicon-credit-card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
            <div class="card-header text-center">
                <h5 class="m-0">Your quote</h5>
            </div>
            <div class="card-body">
                    <div class="row no-gutters">
                        <h5>@ViewBag.Quote</h5>
                    </div>
            </div>
        </div>
    </div>
</div>


